<h1>Edit Movie</h1>
<%= form_for @movie do |form| %>
  <%= form.label('title') %>
  <%= form.text_field(:title) %>
    <p>
  <%= form.label('year') %>
  <%= form.text_field(:year) %>
    <p>
  <%= form.submit('Edit Movie') %>
<% end %>
