<h1>Add Movies</h1>

<%= form_for @movie do |movie| %>
  <%= movie.label('Title') %>
  <%= movie.text_field(:title) %>
    <p>
  <%= movie.label('Year') %>
  <%= movie.text_field(:year) %>
    <p>
  <%= movie.fields_for :directors do |movie|%>
    <%= movie.label('Director') %>
    <%= movie.text_field(:name) %>
      <p>
    <%= movie.submit('Add Movie')%>
  <% end %> 
<% end %> 
