<h1>Add Movies</h1>

<%= form_for @movie do |form| %>
  <%= form.label('Title') %>
  <%= form.text_field(:title) %>
    <p>
  <%= form.label('Year') %>
  <%= form.text_field(:year) %>
    <p>
  <%= fields_for :director do |form|%>
    <%= form.label('Director') %>
    <%= form.text_field(:name) %>
      <p>
    <%= form.submit('Add Movie')%>
  <% end %> 
<% end %> 
