<h1>Movie list</h1>



  <strong>ID:</strong> <%= @movie.id %>
  </br>
  <strong>Title:</strong> <%= @movie.title %>
  </br>
  <strong>Year:</strong> <%= @movie.year %>
  </br>
  <strong>Director:</strong> <%= @movie.director.name %>
  </br>
  <strong>Genre:</strong> <%= @movie.genre.name %>
